name: Run Sky5G Auto Script

on:
  workflow_dispatch:
  schedule:
    - cron: "30 4 * * *"  # يومياً الساعة 6:30 صباحاً بتوقيت ف
    - cron: "0 17 * * *"  # يومياً الساعة 7:00 مساءً بتوقيت ف

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Playwright script
        run: node script.js

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: result-log
          path: result.txt
